*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    width:100%;
    height:100%;
    margin: auto;
    padding:50px;
    background-image: url('images/fond.jpg');
    background-size:cover;
    background-repeat:no-repeat;
}

h1{
    color:white;
    margin-left: 200px;

}

a{
    text-decoration: none;
    color:black;
}

a:hover{
    font-weight: bold;
}

/* calendar */
.agenda{
    width:400px;
    margin:auto;
    background-color: white;
    
}
.row-1, .row-2, .row-3, .row-4, .row-5{
    display: flex;

}

.jour{
    border: 1px solid rgba(0, 0, 0, 0.192);
    padding: 10px;
    width: 60px;
    height:60px;
    transition: background-color 0.1s;
}

.jour:hover{
    background-color: rgba(128, 128, 128, 0.384);
}

.mini{
    /* color:palevioletred; */
    text-align: right;

}

.semaine{
    display: flex;
}

.jr{
    border: 1px solid  rgba(0, 0, 0, 0.274);
    width: 60px;
    height:30px;
    padding: auto;
    text-align:center;
}

.rien{
    text-align: right;
}

.vide{
    border: 1px solid rgba(0, 0, 0, 0.192);
    padding: 10px;
    width: 60px;
    height:60px;
}

.fleches{
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.192);
    display: flex;
    justify-content: center;
    margin:auto;
}
.suivant {
    margin-left:30px;
}
.precedent{
    margin-right: 30px;
}
.precedent:hover{
    cursor: pointer;
}

.suivant:hover{
    cursor: pointer;
}

.mois{
    text-align:center;
}

.nav{
    display:flex;
    justify-content: space-around;
    padding:0;
    margin:0;
}

.menu{
    width:25%;
    display:flex;
    justify-content: space-between;
    

}

ul li {
    list-style-type: none;

  }



  .logo{
      width:100px;
  }

  p{
    text-align:center;
    width: 100px;
  }

  .ligne{
      border-left:1px solid black;
  }
