
* {
    box-sizing: border-box;
}
body{
	margin: 0;
	padding : 0;
	
}

nav {
   margin: 0;
   padding: 0;

}

nav img {
    height:100px;
}

nav ul {
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
    height: 100px;
    
}

nav ul li {
	list-style: none;
	background-color: whitesmoke;
	padding: 0;
	color : black;
	text-align: center;	
	height: 100px;
    line-height: 100px;
    font-size: 30px; 

}

a:link {
    text-decoration: none; 
}

