*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    width:100%;
    margin: auto;
    padding:50px;
    background-color: #e7af00;
}

.obligatoire{
    color:red;
}

.container{
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-image: url('images/fond.jpg');
    background-size:100%;
    background-repeat:no-repeat;
}

.nav{
    display:flex;
    justify-content: space-around;
}

.menu{
    width:25%;
    display:flex;
    justify-content: space-between;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .logo{
      width:100px;

  }